@import url(../scripts/vendor/bootstrap/dist/css/bootstrap.min.css);
@import url(../scripts/vendor/bootstrap/dist/css/bootstrap-theme.min.css);

.margin-bottom-10 {
    margin-bottom:10px;
}

form {
    border:1px solid #DADADA;
    border-radius:10px;
    padding:15px;
}

footer {
    margin-top:20px;
}

table.table-bordered ul li {
    padding:10px 0;
    margin-bottom:5px;
}

div#dont_vote {
    display:none;
}