 <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
        <form action="#backbone" method="post" role="form" class="form-horizontal">
            <fieldset>
                <div class="margin-bottom-10">
                    <label for="voter_name">What is your name?</label> 
                    <input name="voter_name" id="voter_name_control" class="form-control input-sm" placeholder="Joe Bloggs"/>
                </div>
                <div id="input_selects"></div>
                <div class="margin-bottom-10">
                    <button type="button" class="btn btn-primary" id="cast_vote" title="Cast your vote!">Cast your vote!</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>